<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %} - Built with Complexity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://idleon.wiki/wiki/images/0/05/Trabble_Ultimate.png">
    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/css/example.css" rel="stylesheet">
    <link href="/css/topnav.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {
            $(".navbar li").removeClass("active");
            $("#{% block navID %}{% endblock %}").addClass("active");
        });
    </script>
</head>

<body>
    <div class="container">
        <ul class="navbar">
            <li id="nav_home"><a href="/idleon-tools/">Home</a></li>
            <li id="nav_cook" class="active"><a href="/idleon-tools/cooking-planner/">Cooking Planner</a></li>
            <li id="nav_book"><a href="/talent-book-planner/">Talent Planner</a></li>
            <li style="float:right">
                <a href="https://github.com/tellurium-monoxide/idleon-tools" target="_blank">Git Repo</a>
            </li>
        </ul>

        {% block content %}
        {% endblock %}
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/js/example.js"></script>
</body>

</html>