{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block navID %}nav_home{% endblock %}

{% block content %}
<div class="main">
    <h1>IdleOn Tools</h1>

    <p>
        This is a collection of tools to plan and optimize your progression in IdleOn.
    </p>

    <h2>
        <a href="cooking-planner/">
            IdleOn Cooking Planner
        </a>
    </h2>
    <p>
    <ul>
        <li>Gives list of shortest meal upgrades with costs in ladles
            (same as IT, but considers your speed increase from meal levels in real time)</li>
        <li>Estimates time to max cooking with NMLB, equinox cost redux and ladle production</li>
        <li>Customizable account stats so you can see which bonus you are missing and what to increase first to progress
            faster</li>
    </ul>
    </p>
    <p>This is kinda obsolete because of daily meal levels, I might not keep it updated much longer.</p>

    <h2>
        <a href="talent-book-planner/">
            Talent Book Planner
        </a>
    </h2>

    <p>
    <ul>
        <li>Lists talents that are not booked to highest level possible, organized in tiers</li>
        <li>Later: overview of bonus to library max level / speed</li>
        <li>Later: estimates time to finish tiers</li>
    </ul>
    </p>
</div>
{% endblock %}