{% extends "tool.html" %}

{% block title %}Talent book planner{% endblock %}
{% block navID %}nav_book{% endblock %}

{% block desc %}

<h1>Talent book planner</h1>
<p>
    This tool gives of tier list of talent worth booking to max level.
</p>
<p>
    The tiers are organized by activity, and ordered depending on how important the activity is. This is partially subjective, and also depends a lot on where you are in the game. Do not follow these tiers by the letter, and choose depending on what activity you are currently working on. Also, in each tier, some talents are more useful than others, it is left to the user to make an educated choice.
</p>

{% endblock %}

{% block tool %}

<h1>About</h1>
<p>This is the tool partr</p>

{% endblock %}