label {
  display: block;
  font:
    1rem 'Fira Sans',
    sans-serif;
}

/* input, */
/* label {
  margin: 0.4rem 0;
} */

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  /*width: 100%;*/
}

table,
th,
td {
  border: 1px solid;
}

td {
  text-align: center;
  vertical-align: middle;
}

tr.completed_meal {
  background-color: rgba(6, 119, 6, 0.482);
}

tr.NMLB {
  background-color: rgba(238, 17, 17, 0.366);
}

/* use with  <div class="loader"></div> */
.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

img.collapsible_icon {
  vertical-align: middle;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  /* padding-left: 10px; */
  min-height: 60px;
  width: 100%;
  margin: 0.4rem 0;
  border: none;
  text-align: center;
  vertical-align: middle;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.collapsible::after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 15px;
  color: white;
  float: right;
  margin-right: 15px;
}

.collapsible::before {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 15px;
  color: white;
  float: left;
  margin-left: 15px;
}

.active::after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

.active::before {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}


.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}