label {
  display: block;
  font:
    1rem 'Fira Sans',
    sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
th, td {
  border: 1px solid;
}

