---
layout: tool
title: Refinery Planner
nav_id: nav_refinery
icon_url: "assets/images/site/refinery.png"
permalink: /refinery-planner/
custom_css:
- tools/refinery-planner/styles.css
custom_js:
- tools/talent-planner/talents.js
- game/classes.js
- game/world4/breeding.js
- game/world3/refinery.js
- tools/refinery-planner/RefinerySpeed.js
- tools/refinery-planner/Refinery.js
- tools/refinery-planner/main.js
on_ready_js: tools/refinery-planner/on_ready.js
---

<div class="main">
    <h1>Refinery Planner</h1>
    <h2>Refinery levels</h2>
    <div id="refinery"></div>
    <h2>Calculators</h2>
    <h3>Time to produce amount of salt:</h3>
    <div id="timecalc">
        {% include_relative includes/timecalc.html %}
    </div>
    <h3>Level needed for given rank up cycles breakpoint</h3>
    <div id="timecalc">
        {% include_relative includes/cycle_breakpoints.html %}
    </div>

    <h2>Refinery speed</h2>
    <div id="refinery_speed">
        {% include_relative includes/speed.html %}
    </div>

    <h2>Resource generation</h2>
    <div id="resources" class="resources"></div>

</div>