---
layout: default
title: Refinery Planner
nav_id: nav_refinery
icon_url: "assets/images/site/refinery.png"
permalink: /refinery-planner/
custom_js:
- tools/talent-planner/talents.js
- game/classes.js
- game/world4/breeding.js
- game/world3/refinery.js
- tools/refinery-planner/RefinerySpeed.js
- tools/refinery-planner/Refinery.js
---
<script>
    document.addEventListener("run_tool", (e) => {
        let save_data = e.detail


        let refinery = new Refinery(save_data)
        refinery.processRefineryRanks()

        refinery.showRefinery()
        refinery.showResources()
        refinery.createCalculatorTimeToMakeAmounts()
        refinery.createCalculatorBreakPoint()

        document.refinery = refinery
    }, false);


    function button_calc_from_save(event) {
        if (document.refinery) {
            document.refinery.refinerySpeed.parseSaveData()
            document.refinery.processRefineryRanks()

        }

    }
    function button_calc_from_inputs(event) {
        if (document.refinery) {
            document.refinery.refinerySpeed.readFromSpeedInputForm()
            document.refinery.processRefineryRanks()
        }
    }
</script>
<div class="main">
    <h1>Refinery Planner</h1>
    <h2>Refinery levels</h2>
    <div id="refinery"></div>
    <h2>Calculators</h2>
    <h3>Time to produce amount of salt:</h3>
    <div id="timecalc">
        {% include_relative includes/timecalc.html %}
    </div>
    <h3>Level needed for given rank up cycles breakpoint</h3>
    <div id="timecalc">
        {% include_relative includes/cycle_breakpoints.html %}
    </div>

    <h2>Refinery speed</h2>
    <div id="refinery_speed">
        {% include_relative includes/speed.html %}
    </div>

    <h2>Resource generation</h2>
    <div id="resources" class="resources"></div>

</div>
<style>
    td {
        vertical-align: middle;
    }

    td.progress {
        text-align: center;
        white-space: pre;
    }

    table.costs {
        margin-left: 0;
    }

    table.costs td {
        white-space: pre;
    }

    table.calculator {
        margin-left: 0;
        border: solid 1px;
    }

    td.enough {
        color: blue;
    }

    td.not_enough_but_storage {
        color: yellow;
    }

    td.not_enough {
        color: red;
    }

    .resources {
        display: flex;
        flex-wrap: wrap;
    }

    table.refinery_speed {
        border-collapse: collapse;
    }

    table.refinery_speed,
    table.refinery_speed td {
        border: solid 1px;
    }

    table.speed_input_table {
        text-align: left;
        margin-right: 0;
        border-collapse: collapse;
        border: 0px;
    }

    table.speed_input_table td {
        border: 0px;
    }
</style>