---
layout: default
title: Cooking Planner
nav_id: nav_cook
icon_url: "assets/images/site/cooking.png"
permalink: /cooking-planner/
custom_js:
- tools/cooking-planner/modules/cooking_optimizer.js
- tools/cooking-planner/modules/CookingData.js
---
<script>

    function onReady() {
        createMealTable();
        createKitchenTable();
        $("#to_ladle_tab").on("click", function (e) {
            $("#tab_header_world4").click();
            $("#tab_header_world4_cooking").click();
            $("#tab_header_cooking_ladles").click();
        });

    }




    function run_local_tool(raw_data) {

        save_data = JSON.parse(raw_data)

        localStorage.setItem("IEsaveData", raw_data);

        let cooking_data = new CookingData()
        cooking_data.initFromSaveData(save_data)
        cooking_data.fillDocumentInputForm()

        computeMealOptimalOrder(cooking_data)

    }


    function computeFromInputForm() {
        let cooking_data = new CookingData()
        cooking_data.initFromInputForm()

        computeMealOptimalOrder(cooking_data)
    }




    function remove_meal_upgrade() {

        let meal_row = document.getElementById("meal_upgrade_order").children[1].firstChild
        let meal_name = meal_row.children[1].innerText
        let meal_id = meal_info.findIndex((meal) => (meal.name == meal_name))
        console.log(meal_name)
        console.log(meal_id)

        // document.getElementById(`meal${meal_id}_level`).value = Number(document.getElementById(`meal${meal_id}_level`).value) + 1;

        let cooking_data_json = JSON.parse(meal_row.children[7].innerText)
        let cooking_data = Object.assign(new CookingData(), cooking_data_json);
        console.log(cooking_data)


        cooking_data.fillDocumentInputForm()
        computeFromInputForm()


    }

    function createMealTable() {
        let content = "<tr>"
        content += "<th></th>"
        content += "<th>Meal</th>"
        content += "<th>Current LVL</th>"
        content += "<th>Amount owned</th>"
        content += "<th>Ribbon tier</th>"
        content += "</tr>"
        content += "<tr>"
        for (let i = 0; i < meal_count; i++) {

            mdata = meal_info[i]

            if (i % 1 == 0) {
                content += "</tr><tr>"
            }
            content += `<td><div class="meal_icon"><img src="${GET_MEAL_ICON(i)}"></div></td>`
            content += `<td>${mdata.name}</td>`
            content += `<td><input type="number" id="meal${i}_level"/></td>`
            content += `<td><input type="text" id="meal${i}_qtt"/></td>`
            content += `<td><input type="number" id="meal${i}_ribbon_tier" min="0" max="20" value="0"/></td>`
        }
        content += "</tr>"
        document.getElementById("meal_levels").innerHTML = content;
    }

    function createKitchenTable() {
        let content = "<tr>"
        content += "<th>Kitchen</th>"
        content += "<th>Speed LVL</th>"
        content += "<th>Fire LVL</th>"
        content += "<th>Luck LVL</th>"
        content += "<th>Richelin?</th>"
        content += "</tr>"
        content += "<tr>"
        for (let i = 0; i < 10; i++) {

            if (i % 1 == 0) {
                content += "</tr><tr>"
            }
            // content += `<td><img src="${mdata.img}"></td>`
            content += `<td>Kitchen n°${i}</td>`
            content += `<td><input type="number" id="kitchen${i}_speed_level"/></td>`
            content += `<td><input type="number" id="kitchen${i}_fire_level"/></td>`
            content += `<td><input type="number" id="kitchen${i}_luck_level"/></td>`
            content += `<td><input type="checkbox" id="kitchen${i}_is_richelin"/></td>`
        }
        content += "</tr>"
        document.getElementById("kitchen_levels").innerHTML = content;
    }

    const meal_max_lvl = 110;
    const MEAL_MAX_LVL = 110;
    const meal_count = 67;
    const MEAL_COUNT = 67;
    const RIBBON_MULTIPLIERS = {
        0: 1,
        1: 1.05,
        2: 1.14,
        3: 1.19,
        4: 1.28,
        5: 1.46,
        6: 1.61,
        7: 1.66,
        8: 1.82,
        9: 1.87,
        10: 2.35,
        11: 2.4,
        12: 2.62,
        13: 2.67,
        14: 2.89,
        15: 3.39,
        16: 3.68,
        17: 3.73,
        18: 4.01,
        19: 4.06,
        20: 5,
    }
    const meal_info =
        [
            { "name": "Turkey a la Thank", "cookReq": 10 },
            { "name": "Egg", "cookReq": 15 },
            { "name": "Salad", "cookReq": 25 },
            { "name": "Pie", "cookReq": 40 },
            { "name": "Frenk Fries", "cookReq": 60 },
            { "name": "Spaghetti", "cookReq": 90 },
            { "name": "Corn", "cookReq": 125 },
            { "name": "Garlic Bread", "cookReq": 175 },
            { "name": "Garlicless Bread", "cookReq": 250 },
            { "name": "Pizza", "cookReq": 350 },
            { "name": "Apple", "cookReq": 500 },
            { "name": "Pancakes", "cookReq": 700 },
            { "name": "Corndog", "cookReq": 1000 },
            { "name": "Cabbage", "cookReq": 1400 },
            { "name": "Potato Pea Pastry", "cookReq": 2000 },
            { "name": "Dango", "cookReq": 3000 },
            { "name": "Sourish Fish", "cookReq": 4000 },
            { "name": "Octoplop", "cookReq": 5000 },
            { "name": "Croissant", "cookReq": 8000 },
            { "name": "Canopy", "cookReq": 12500 },
            { "name": "Cannoli", "cookReq": 20000 },
            { "name": "Cheese", "cookReq": 35000 },
            { "name": "Sawdust", "cookReq": 50000 },
            { "name": "Eggplant", "cookReq": 75000 },
            { "name": "Cheesy Bread", "cookReq": 110000 },
            { "name": "Wild Boar", "cookReq": 200000 },
            { "name": "Donut", "cookReq": 300000 },
            { "name": "Riceball", "cookReq": 500000 },
            { "name": "Cauliflower", "cookReq": 750000 },
            { "name": "Durian Fruit", "cookReq": 1e6 },
            { "name": "Orange", "cookReq": 1.5e6 },
            { "name": "Bunt Cake", "cookReq": 3e6 },
            { "name": "Chocolate Truffle", "cookReq": 5e6 },
            { "name": "Leek", "cookReq": 8e6 },
            { "name": "Fortune Cookie", "cookReq": 12e6 },
            { "name": "Pretzel", "cookReq": 20e6 },
            { "name": "Sea Urchin", "cookReq": 30e6 },
            { "name": "Mashed Potato", "cookReq": 40e6 },
            { "name": "Mutton", "cookReq": 90e6 },
            { "name": "Wedding Cake", "cookReq": 135e6 },
            { "name": "Eel", "cookReq": 200e6 },
            { "name": "Whipped Cocoa", "cookReq": 300e6 },
            { "name": "Onion", "cookReq": 500e6 },
            { "name": "Soda", "cookReq": 700e6 },
            { "name": "Sushi Roll", "cookReq": 900e6 },
            { "name": "Buncha Banana", "cookReq": 1250e6 },
            { "name": "Pumpkin", "cookReq": 1700e6 },
            { "name": "Cotton Candy", "cookReq": 4000e6 },
            { "name": "Massive Fig", "cookReq": 7000e6 },
            { "name": "Head Chef Bread", "cookReq": 10e9 },
            { "name": "Kiwi Fruit", "cookReq": 14e9 },
            { "name": "Popped Corn", "cookReq": 20e9 },
            { "name": "Double Cherry", "cookReq": 32e9 },
            { "name": "Ratatouey", "cookReq": 52e9 },
            { "name": "Giant Tomato", "cookReq": 90e9 },
            { "name": "Wrath Grapes", "cookReq": 130e9 },
            { "name": "Sausy Sausage", "cookReq": 225e9 },
            { "name": "Seasoned Marrow", "cookReq": 350e9 },
            { "name": "Sticky Bun", "cookReq": 700e9 },
            { "name": "Frazzleberry", "cookReq": 1000e9 },
            { "name": "Misterloin Steak", "cookReq": 1700e9 },
            { "name": "Large Pohayoh", "cookReq": 6000e9 },
            { "name": "Bill Jack Pepper", "cookReq": 35e12 },
            { "name": "Burned Marshmallow", "cookReq": 90e12 },
            { "name": "Yumi Peachring", "cookReq": 800e12 },
            { "name": "Plumpcakes", "cookReq": 6000e12 },
            { "name": "Nyanborgir", "cookReq": 50e15 },
        ]


    function FormatCookingTime(time_in_hours) {

        time = time_in_hours * 3600
        let s = 1
        let m = 60 * s
        let h = 60 * m
        let d = 24 * h
        let y = 365 * d

        let accounted = 0

        let years = Math.floor(time / y);
        accounted += y * years
        let days = Math.floor((time - accounted) / d);
        accounted += d * days
        let hour = Math.floor((time - accounted) / h);
        accounted += h * hour
        let minutes = Math.floor((time - accounted) / m);
        accounted += m * minutes
        let seconds = Math.floor((time - accounted) / s);
        accounted += s * seconds

        let milliseconds = (time * 1000) % 1000

        let hourTxt = hour;
        let minutesTxt = minutes
        let secondsTxt = seconds
        if (hour < 10) {
            hourTxt = `0${hour}`
        }
        if (minutes < 10) {
            minutesTxt = `0${minutes}`
        }
        if (seconds < 10) {
            secondsTxt = `0${seconds}`
        }
        if (years > 10000) {
            return `${years.toExponential()}y${days}d`
        } else if (years > 0) {
            return `${years}y${days}d`
        } else if (days > 10) {
            return `${days}d${hourTxt}h`
        } else if (days > 0) {
            return `${days}d${hourTxt}h${minutesTxt}m`
        } else if (hour > 0) {
            return `${hourTxt}h${minutesTxt}m${secondsTxt}s`
        } else if (minutes > 0) {
            return `${minutesTxt}m${secondsTxt}s`
        } else if (seconds > 0) {
            return `${secondsTxt}s`
        } else {
            return `${milliseconds.toFixed(2)}ms`
        }
    }



    KILL_REQ = Array(300).fill(0);
    // world 6
    KILL_REQ[251] = 25e3;
    KILL_REQ[252] = 50e3;
    KILL_REQ[253] = 100e3;
    KILL_REQ[254] = 250e3;
    KILL_REQ[255] = 400e3;
    KILL_REQ[256] = 1.1e6;
    KILL_REQ[257] = 3.2e6;
    KILL_REQ[258] = 8e6;
    KILL_REQ[259] = 12e6;
    KILL_REQ[260] = 25e6;
    KILL_REQ[261] = 70e6;
    KILL_REQ[262] = 100e6;
    KILL_REQ[263] = 150e6;


    const LAB_JEWELS = [
        "amethyst_rhinestone",
        "purple_rhombol",
        "purple_navette",
        "sapphire_rhinestone",
        "sapphire_navette",
        "sapphire_pyramite",
        "sapphire_rhombol",
        "pyrite_rhinestone",
        "pyrite_navette",
        "pyrite_rhombol",
        "pyrite_pyramite",
        "emerald_rhinestone",
        "emerald_navette",
        "emerald_rhombol",
        "emerald_pyramite",
        "emerald_ulthurite",
        "black_diamond_ulthurite",
        "black_diamond_rhinestone",
        "pure_opal_rhinestone",
        "pure_opal_navette",
        "pure_opal_rhombol"
    ]

    function getTimeForShinyLevel(goal) {
        return Math.floor((1 + Math.pow(goal, 1.6)) * Math.pow(1.7, goal));
    }

    function getShinyLevel(time) {
        let lvl = 1;
        while (getTimeForShinyLevel(lvl) < time) {
            lvl += 1;
        }
        return lvl;
    }





    const CARD_REQUIREMENTS = {
        "Boss4A": [2, 6, 10, 32, 918],
        "w6c1": [400, 1200, 2000, 6400, 183600],
    }


    function getCardLevel(card_id, card_count) {
        let card_req = CARD_REQUIREMENTS[card_id]

        let card_level = (card_count > 0) + card_req.filter((a) => (a < card_count)).length
        return card_level;
    }



    const ACHIEVEMENT_DATA = {
        "Cabbage Patch": { id: 224 },
        "Le Pretzel Bleu": { id: 225 },
        "Best Plate": { id: 233 },
        "Spectre Stars": { id: 379 },
        "Regalis My Beloved": { id: 373 },
    }



</script>
<div class="main">
    <h1>Cooking Planner</h1>
    <h2>
        How to use?
    </h2>
    <div>
        <p>
            This tool will give you the best order to upgrade meals, and give you an estimated time to complete cooking (all
            meals level max). This is actually not very optimal, but it is probably not that far, and this does not matter much because of NMLB.
        </p>
        <p>
            Start by pasting your Idleon Efficiency save data in the toolbar at the top of the screen. This will fill the input fields,
            do the calculations and display the meal upgrade order.
        </p>
        <p>
            Then you can manually alter the content of the "Inputs" section, to simulate different stats. To estimate the
            time, the tool uses your ladles / day production, which is set by default to 10 000 (close to what you could have in late game).
            Change this to have a result closer to your real situation. This option is located in
            <button class="link" id="to_ladle_tab">Inputs > World 4 > Cooking > Ladles.</button>

        </p>
        <p>
            After modifying the inputs, you can redo the calculations with the button "Compute from manual inputs" below.
        </p>

    </div>

    <h2>
        Inputs:
    </h2>
    <div>
        <button id="use_inputs" onclick="computeFromInputForm()">Compute from manual inputs</button>
    </div>

    <div id="tabs-global" class="ui-tabs ui-widget ui-corner-all ui-widget-content ui-tabs-collapsible">
        <ul class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
            <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                <a href="#tab-world1" class="ui-tabs-anchor">
                    <img class="collapsible_icon_world" src="{{ site.baseurl }}/assets/images/game/world-banners/Wb1.png" />
                </a>
            </li>
            <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                <a href="#tab-world2" class="ui-tabs-anchor">
                    <img class="collapsible_icon_world" src="{{ site.baseurl }}/assets/images/game/world-banners/Wb2.png" />
                </a>
            </li>
            <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                <a href="#tab-world3" class="ui-tabs-anchor">
                    <img class="collapsible_icon_world" src="{{ site.baseurl }}/assets/images/game/world-banners/Wb3.png" />
                </a>
            </li>
            <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                <a href="#tab-world4" class="ui-tabs-anchor" id="tab_header_world4">
                    <img class="collapsible_icon_world" src="{{ site.baseurl }}/assets/images/game/world-banners/Wb4.png" />
                </a>
            </li>
            <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                <a href="#tab-world5" class="ui-tabs-anchor">
                    <img class="collapsible_icon_world" src="{{ site.baseurl }}/assets/images/game/world-banners/Wb5.png" />
                </a>
            </li>
            <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                <a href="#tab-world6" class="ui-tabs-anchor">
                    <img class="collapsible_icon_world" src="{{ site.baseurl }}/assets/images/game/world-banners/Wb6.png" />
                </a>
            </li>
            <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                <a href="#tab-general" class="ui-tabs-anchor" style="height:27px">General</a>
            </li>
        </ul>

        <div id="tab-world1" class="ui-tabs-panel ui-corner-bottom ui-widget-content" style="display:none;">
            {% include_relative inputs/world1.html %}
        </div>

        <div id="tab-world2" style="display:none;">
            {% include_relative inputs/world2.html %}
        </div>

        <div id="tab-world3" style="display:none;">
            {% include_relative inputs/world3.html %}
        </div>

        <div id="tab-world4" style="display:none;">
            {% include_relative inputs/world4.html %}
        </div>

        <div id="tab-world5" style="display:none;">
            {% include_relative inputs/world5.html %}
        </div>

        <div id="tab-world6" style="display:none;">
            {% include_relative inputs/world6.html %}
        </div>

        <div id="tab-general" style="display:none;">
            {% include_relative inputs/general.html %}
        </div>
    </div>

    <h2>
        Results:
    </h2>
    <div>
        Current cooking speed:
        <span type="text" id="total_cooking_speed"></span>
    </div>
    <div>
        Ladles used:
        <span id="ladles_needed"></span>
    </div>
    <div>
        Meal levels missing:
        <span id="missing_levels"></span>
    </div>
    <div>
        Days needed:
        <span id="days_needed"></span>
    </div>
    <div>
        Levels from NMLB:
        <span id="NMLB_needed"></span>
        (<span id="NMLB_needed_percent"></span>% of missing levels)
    </div>

    <h3>Upgrade order</h3>
    <table id="meal_upgrade_order" class="sticky_header"></table>

</div>

<style>
    /* label {
        display: block;
        font:
            1rem 'Fira Sans',
            sans-serif;
    } */
    button.link {
        background: none;
        border: none;
        color: blue;
        cursor: pointer;
    }

    td.completed_meal {
        background-color: rgba(6, 119, 6, 0.482);
    }

    td.NMLB {
        background-color: rgba(238, 17, 17, 0.366);
    }

    td.multiple_of_3 {
        background-color: rgba(212, 217, 84, 0.682);
    }

    img.collapsible_icon {
        vertical-align: middle;
        height: 40px;
    }

    img.collapsible_icon_world {
        vertical-align: middle;
        height: 27px;
    }

    img.meal_icon {
        height: 50px;
        overflow: hidden;
    }

    table,
    th,
    td {
        border: 1px solid;
    }
</style>