---
layout: tool
title: Cooking Planner
nav_id: nav_cook
icon_url: "https://idleon.wiki/wiki/images/8/87/Cooking_Skill_Icon.png"
permalink: /cooking-planner/
custom_css:
- tools/cooking-planner/styles.css
custom_js:
- tools/cooking-planner/main.js
- tools/cooking-planner/modules/cooking_optimizer.js
- tools/cooking-planner/modules/CookingData.js
on_ready_js: tools/cooking-planner/on_ready.js
---
<div class="main">
    <h1>IdleOn Cooking Planner</h1>
    <h2> How to use? </h2>
    <div>
        <p>
            This tool will give you the best order to upgrade meals, and give you an estimated time to complete cooking (all
            meals level max). This is actually not very optimal, but it is probably not that far, and this does not matter much because of NMLB.
        </p>
        <p>
            Start by pasting your Idleon Efficiency save data in the toolbar at the top of the screen. This will fill the input fields,
            do the calculations and display the meal upgrade order. </p>
        <p>
            Then you can manually alter the content of the "Inputs" section, to simulate different stats. To estimate the
            time, the tool uses your ladles / day production, which is set by default to 10 000 (close to what you could have in late game).
            Change this to have a result closer to your real situation. This option is located in
            <button class="link" id="to_ladle_tab">Inputs > World 4 > Cooking > Ladles.</button>

        </p>
        <p>
            After modifying the inputs, you can redo the calculations with the button "Compute from manual inputs" below.
        </p>

    </div>

    <h2> Inputs: </h2>
    <div>
        <button id="use_inputs" onclick="computeFromInputForm()">Compute from manual inputs</button>
    </div>

    <div id="tabs-global" class="ui-tabs ui-widget ui-corner-all ui-widget-content ui-tabs-collapsible">
        <ul class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
            <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                <a href="#tab-world1" class="ui-tabs-anchor">
                    <img class="collapsible_icon_world" src="https://idleon.wiki/wiki/images/f/f7/Wb1.png" />
                </a>
            </li>
            <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                <a href="#tab-world2" class="ui-tabs-anchor">
                    <img class="collapsible_icon_world" src="https://idleon.wiki/wiki/images/c/c7/Wb2.png" />
                </a>
            </li>
            <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                <a href="#tab-world3" class="ui-tabs-anchor">
                    <img class="collapsible_icon_world" src="https://idleon.wiki/wiki/images/a/ae/Wb3.png" />
                </a>
            </li>
            <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                <a href="#tab-world4" class="ui-tabs-anchor" id="tab_header_world4">
                    <img class="collapsible_icon_world" src="https://idleon.wiki/wiki/images/5/55/Wb4.png" />
                </a>
            </li>
            <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                <a href="#tab-world5" class="ui-tabs-anchor">
                    <img class="collapsible_icon_world" src="https://idleon.wiki/wiki/images/3/33/Wb5.png" />
                </a>
            </li>
            <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                <a href="#tab-world6" class="ui-tabs-anchor">
                    <img class="collapsible_icon_world" src="https://idleon.wiki/wiki/images/6/6d/Wb6.png" />
                </a>
            </li>
            <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                <a href="#tab-general" class="ui-tabs-anchor" style="height:27px">General</a>
            </li>
        </ul>

        <div id="tab-world1" class="ui-tabs-panel ui-corner-bottom ui-widget-content" style="display:none;">
            {% include_relative inputs/world1.html %}
        </div>

        <div id="tab-world2" style="display:none;">
            {% include_relative inputs/world2.html %}
        </div>

        <div id="tab-world3" style="display:none;">
            {% include_relative inputs/world3.html %}
        </div>

        <div id="tab-world4" style="display:none;">
            {% include_relative inputs/world4.html %}
        </div>

        <div id="tab-world5" style="display:none;">
            {% include_relative inputs/world5.html %}
        </div>

        <div id="tab-world6" style="display:none;">
            {% include_relative inputs/world6.html %}
        </div>

        <div id="tab-general" style="display:none;">
            {% include_relative inputs/general.html %}
        </div>
    </div>

    <h2> Results: </h2>
    <div>
        Current cooking speed: <span type="text" id="total_cooking_speed"></span>
    </div>
    <div>
        Ladles used: <span id="ladles_needed"></span>
    </div>
    <div>
        Meal levels missing: <span id="missing_levels"></span>
    </div>
    <div>
        Days needed: <span id="days_needed"></span>
    </div>
    <div>
        Levels from NMLB: <span id="NMLB_needed"></span> (<span id="NMLB_needed_percent"></span>% of missing levels)
    </div>

    <!-- <div style="text-align:center"> -->
    <h3>Upgrade order</h3>
    <button id="remove_meal_upgrade" onclick="remove_meal_upgrade()">Upgrade first meal</button>
    <!-- </div> -->
    <table id="meal_upgrade_order" class="sticky_header">
    </table>

</div>