---
---
<script>
  const SALT_ICONS = {
    "Redox_Salts": "{{ site.baseurl }}/assets/images/refinery/36px-Redox_Salts.png",
    "Explosive_Salts": "{{site.baseurl}}/assets/images/refinery/36px-Explosive_Salts.png",
    "Spontaneity_Salts": "{{site.baseurl}}/assets/images/refinery/36px-Spontaneity_Salts.png",
    "Dioxide_Salts": "{{site.baseurl}}/assets/images/refinery/36px-Dioxide_Synthesis.png",
    "Purple_Salts": "{{site.baseurl}}/assets/images/refinery/36px-Purple_Salt.png",
    "Nullo_Salts": "{{site.baseurl}}/assets/images/refinery/36px-Nullo_Salt.png",
  }


  const GET_MEAL_ICON = (id) => {
    return `{{site.baseurl}}/assets/images/meals/${id}.png`
  }
</script>