<style>
    .stamp-upgrade-table {
        border-collapse: collapse;
    }

    .stamp-upgrade-table td {
        border: solid 1px;
    }

    .stamp-upgrade-table td.available {
        background-color: aqua;
    }

    .stamp-upgrade-table td.equip {
        background-color: rgb(0, 145, 255);
    }
</style>

<div id="tabs-stamp-upgrades" class="ui-tabs ui-widget ui-corner-all ui-widget-content ui-tabs-collapsible jquerytabs">
    <ul class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
        <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
            <a href="#tab-stamps-g0d0" class="ui-tabs-anchor">
                g0d0
            </a>
        </li>
        <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
            <a href="#tab-stamps-g1d0" class="ui-tabs-anchor">
                g1d0
            </a>
        </li>
        <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
            <a href="#tab-stamps-g1d1" class="ui-tabs-anchor">
                g1d1
            </a>
        </li>
        <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
            <a href="#tab-stamps-g1d2" class="ui-tabs-anchor">
                g1d2
            </a>
        </li>
        <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
            <a href="#tab-stamps-g1d3" class="ui-tabs-anchor">
                g1d3
            </a>
        </li>

    </ul>

    <div id="tab-stamps-g0d0" class="ui-tabs-panel ui-corner-bottom ui-widget-content" style="display:none;">
        <table id="upgrades-g0d0"></table>
    </div>

    <div id="tab-stamps-g1d0" class="ui-tabs-panel ui-corner-bottom ui-widget-content" style="display:none;">
        <table id="upgrades-g1d0"></table>
    </div>

    <div id="tab-stamps-g1d1" class="ui-tabs-panel ui-corner-bottom ui-widget-content" style="display:none;">
        <table id="upgrades-g1d1"></table>
    </div>

    <div id="tab-stamps-g1d2" class="ui-tabs-panel ui-corner-bottom ui-widget-content" style="display:none;">
        <table id="upgrades-g1d2"></table>
    </div>

    <div id="tab-stamps-g1d3" class="ui-tabs-panel ui-corner-bottom ui-widget-content" style="display:none;">
        <table id="upgrades-g1d3"></table>
    </div>

</div>