<style>
    .stamp-table td {
        border: solid 1px;
    }
</style>

<div id="tabs-stamps" class="ui-tabs ui-widget ui-corner-all ui-widget-content ui-tabs-collapsible jquerytabs">
    <ul class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
        <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
            <a href="#tab-stamps-combat" class="ui-tabs-anchor">
                Combat
            </a>
        </li>
        <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
            <a href="#tab-stamps-skill" class="ui-tabs-anchor">
                Skill
            </a>
        </li>
        <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
            <a href="#tab-stamps-misc" class="ui-tabs-anchor">
                Misc
            </a>
        </li>

    </ul>

    <div id="tab-stamps-combat" class="ui-tabs-panel ui-corner-bottom ui-widget-content" style="display:none;">
    </div>

    <div id="tab-stamps-skill" style="display:none;">
    </div>

    <div id="tab-stamps-misc" style="display:none;">
    </div>

</div>