---
layout: default
title: Stamps Planner
nav_id: nav_stamps
icon_url: "assets/images/site/stamps.png"
permalink: /stamps-planner/
---
<script type="module">


    import { StampPlanner } from "{{site.baseurl}}/assets/js/tools/stamps/StampsPlanner.js";
    import { DATA_STAMPS } from "{{site.baseurl}}/assets/js/game/world1/Stamps.js"


    document.addEventListener("run_tool", (e) => {
        let save_data = e.detail
        make_stamp_tables()

        let stamp_planner = new StampPlanner(save_data)
    }, false);



    function make_stamp_tables() {
        let tbl = ""

        tbl += `<table class="stamp-table">`

        tbl += `<tr>`
        let id = 0
        let stamps_this_row = 8
        let row = 0

        let row_html = ""
        while (stamps_this_row > 0) {
            tbl += row_html
            row_html = ""
            stamps_this_row = 0
            for (let cat of [0, 1, 2]) {
                for (let col = 0; col < 4; col++) {
                    let id = 4 * row + col
                    let stampData = DATA_STAMPS[cat][id]
                    if (stampData) {
                        // console.log(stampData)
                        stamps_this_row += 1
                        row_html += `<td id="${stampData[0]}">`
                        // tbl += `${stampData.displayName}`
                        row_html += `<img src="${GET_STAMP_ICON(stampData[0])}" style="height:72px;width:72px;" />`
                        row_html += `</td>`
                    } else {
                        row_html += `<td class="empty"></td>`
                    }
                }
                if (cat != 3) {
                    row_html += `<td class="sep"></td>`
                }
            }
            row += 1
            tbl += `</tr>`
            tbl += `<tr>`
        }

        tbl += `</tr>`
        tbl += `</table>`


        let el = document.getElementById(`stamps`)
        el.innerHTML = tbl
    }

</script>
<div class="main">
    This tool will compute maximum achievable stamp levels given your current carry capacity and stamp cost reduction. It is meant for endgamers wanting to maximize all stamps, so some "easy" bonus are considered active by default. This includes mostly bonuses that can be maxed: stamp efficiency from sneaking, base capacity bags, gem shop...
    <p>Don't forget to use your vman for monster materials (and use highest matty pouch on your vman in priority, herculean matty pouch at this time). Some forgettable bonus are: star signs (3 of them give carry cap),...</p>
    <h1>Stamps</h1>
    <div id="general"></div>
    <div>Hover a stamp to see current level and max reachable levels. Green background means the stamp cannot be upgraded anymore because of carry capacity limit. Blue background means that you have enough materials in storage to upgrade to max. Total cost is based on the strategy proposed at the bottom of this page.</div>
    {% include stamp_table.html%}
    <h1>Upgrade plan</h1>
    {% include stamp_upgrade_tables.html%}

</div>