h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

h3 {
  margin-top: 2rem;
}

/* .input-group,
input.test-value-input {
  max-width: 250px;
} */

label {
  display: block;
  font:
    1rem 'Fira Sans',
    sans-serif;
}

button.link {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
}

table {
  margin-left: auto;
  margin-right: auto;
}



td {
  text-align: center;
  vertical-align: middle;
}

table.tiered_talents {
  border: 1px solid;
}

table.tiered_talents td {
  padding: 0 15px;
}

img.collapsible_icon {
  vertical-align: middle;
  height: 40px;
}

img.collapsible_icon_world {
  vertical-align: middle;
}

img.meal_icon {
  height: 40px;
}


.talent_display {
  text-align: center;
  border: 1px solid;
  margin: 5px;
}

.talent_display.completed {
  background-color: rgba(6, 119, 6, 0.482);
}

.talent_display.unbookable {
  background-color: rgba(114, 114, 114, 0.798);
}

.talent_display.not_leveled {
  background-color: rgba(238, 17, 17, 0.366);
}