td {
    vertical-align: middle;
}

td.progress {
    text-align: center;
    white-space: pre;
}

table.costs {
    margin-left: 0;
}

table.calculator {
    margin-left: 0;
    border: solid 1px;
}

.resources {
    display: flex;
    flex-wrap: wrap;
}

table.refinery_speed {
    border-collapse: collapse;
}

table.refinery_speed,
table.refinery_speed td {
    border: solid 1px;

}

table.speed_input_table {
    text-align: left;
    margin-right: 0;
    border-collapse: collapse;
    border: 0px;
}

table.speed_input_table td {

    border: 0px;
}