td {
    vertical-align: middle;
}

td.progress {
    text-align: center;
    white-space: pre;
}

table.costs {
    margin-left: 0;
}

table.calculator {
    margin-left: 0;
    border: solid 1px;
}

.resources {
    display: flex;
    flex-wrap: wrap;
}