---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.icon_url %}
    <link rel="icon" href="{{ site.baseurl }}/{{ page.icon_url }}">
    {% endif %}

    <link href="{{ site.baseurl }}/assets/css/topnav.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/titles.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/tables.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script src="{{ site.baseurl }}/assets/js/utils.js"></script>
    <script src="{{ site.baseurl }}/assets/js/input_save_data.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap-input-spinner/InputSpinner.js"></script>

    {% include icons.html %}
    <script>
        jQuery(async function () {


            // $(".navbar li").removeClass("active");
            // $("#{{ page.nav_id }}").addClass("active");

            $("#tabs-global").tabs({
                collapsible: true,
                active: false
            });
            $(".jquerytabs").tabs({
                collapsible: false
            });
            // execute the onReady function defined by the page.on_ready_js file
            try {
                onReady();
            } catch (e) {
                // console.debug(e);
            }

            const inputSpinnerElements = document.querySelectorAll("input[type='number']")
            for (const inputSpinnerElement of inputSpinnerElements) {
                new InputSpinner(inputSpinnerElement)
            }
            try {
                await lookIntoLocalStorage();
            } catch (e) {
                console.debug(e);
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <ul class="navbar">
            <li id="nav_home" {% if page.nav_id=="nav_home" %}class="active" {% endif %}>
                <a href="{{ site.baseurl }}/">Home<div class="overlay"></div></a>
            </li>
            <li id="nav_account" {% if page.nav_id=="nav_account" %}class="active" {% endif %}>
                <a href="{{ site.baseurl }}/account/">Account<div class="overlay"></div></a>
            </li>
            <li id="nav_cook" {% if page.nav_id=="nav_cook" %}class="active" {% endif %}>
                <a href="{{ site.baseurl }}/cooking-planner/">Cooking Planner<div class="overlay"></div></a>
            </li>
            <li id="nav_book" {% if page.nav_id=="nav_book" %}class="active" {% endif %}>
                <a href="{{ site.baseurl }}/talent-book-planner/">Talent Planner</a>
            </li>
            <li id="nav_refinery" {% if page.nav_id=="nav_refinery" %}class="active" {% endif %}>
                <a href="{{ site.baseurl }}/refinery-planner/">Refinery Planner</a>
            </li>
            <li id="nav_cons" {% if page.nav_id=="nav_cons" %}class="active" {% endif %}>
                <a href="{{ site.baseurl }}/construction-planner/">Construction Planner</a>
            </li>
            <li id="nav_cons" {% if page.nav_id=="nav_stamps" %}class="active" {% endif %}>
                <a href="{{ site.baseurl }}/stamps-planner/">Stamps Planner</a>
            </li>
            <li style="float:right">
                <a href="https://github.com/tellurium-monoxide/idleon-tools" target="_blank">
                    <!-- <img src="{{ site.baseurl }}/assets/images/navbar/github_logo.png"> -->
                    <img src="{{ site.baseurl }}/assets/images/navbar/github_mark.png">
                </a>
            </li>
        </ul>
        <ul class="topbar2">
            <li class="not_a"> <label for="input_save_data">Enter your IE save data here:</label></li>
            <li class="not_a"> <input type="text" id="raw_data" name="input_save_data" title="Tip: Your last entered save data is saved in your browser local storage for the next time you access the page." /></li>
            <li class="not_a"> <button id="enter_save_data" onclick="onSubmit()">Submit</button></li>
            <li class="not_a"> <button id="clear_save_data" onclick="onClear()">Clear</button></li>
            <li class="not_a"> <button id="input_from_clipboard" onclick="onInputFromClip()">Submit from clipboard</button></li>
            <li class="not_a"> <button id="copy_save_data" onclick="onCopySave()">Copy</button></li>

            <li style="float:right">
                <a class="ie" href="https://www.idleonefficiency.com/raw-data" target="_blank"><img src="{{ site.baseurl }}/assets/images/navbar/idleon-efficiency.svg" height="21" width="171"></a>
            </li>
            <li style="float:right" class="not_a"> <label for="input_save_data">Get your save data here:</label></li>
        </ul>
        {{ content }}
    </div>

    {% if page.custom_js %}
    {% for js_file in page.custom_js %}
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/{{ js_file }}"></script>
    {% endfor %}
    {% endif %}
</body>

</html>