---
layout: default
custom_css:
- topbar2.css
---
<ul class="topbar2">
    <li class="not_a"> <label for="input_save_data">Enter your IE save data here:</label></li>
    <li class="not_a"> <input type="text" id="raw_data" name="input_save_data" title="Tip: Your last entered save data is saved in your browser local storage for the next time you access the page." /></li>
    <li class="not_a"> <button id="enter_save_data" onclick="onSubmit()">Enter</button></li>
    <li class="not_a"> <button id="clear_save_data" onclick="onClear()">Clear</button></li>
    <li class="not_a"> <button id="input_from_clipboard" onclick="onInputFromClip()">Input from clipboard</button></li>
    <li class="not_a"> <button id="copy_save_data" onclick="onCopySave()">Copy</button></li>

    <li style="float:right">
        <a class="ie" href="https://www.idleonefficiency.com/raw-data" target="_blank"><img src="https://www.idleonefficiency.com/logo.svg" height="21" width="171"></a>
    </li>
    <li style="float:right" class="not_a"> <label for="input_save_data">Get your save data here:</label></li>
</ul>

{{ content }}